html, body, .main {
    margin: 0;
    height:100%;
}
body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color:black;
    font-family: Secular One, sans-serif;
}

.projects_container {
    display: flex;
    flex-direction: column;
}

#menu {
    background-color: #424242;
}

#menu a {
    font-size: 20;
}

#menuProj {
    background-color: #525252;
}

#menuProj a{
    font-size: 15;
}

#menu, #menuProj {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 4em;
    justify-content: space-evenly;
    align-items: center;
}

#menu>a, #menuProj>a {
    display: flex;
    color: #E7E7E7;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Calibri';
}

#menu>a:hover, #menuProj>a:hover {
    background-color: #666666;
}

#main {
    display: flex;
    background: linear-gradient(90deg, rgba(176,176,176,1) 0%, rgba(224,224,224,1) 50%, rgba(176,176,176,1) 100%);
    height: 100%;
    justify-content: center;
    overflow: auto;
    align-items: stretch;
    flex-direction: row;
}


.text {
    flex: 3.5 3.5;
    min-height: inherit;
}

.selfPres{
    font-family: Roboto, sans-serif;
    text-align: left;
    word-wrap: break-word;
    font-size: 20;
    margin-left:1em;
    margin-right:1em;
}

.text>ul>li {
    margin-left:1.5em;
    text-align: left;
    word-wrap: break-word;
    font-size: 15;
}

.myPDF {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5 5;
}


.pres {
    display: block;
    margin-top: 2em;
    padding-bottom: 0.2em;
}

.width_separator {
    border-bottom: solid;
    border-bottom-width: 0.2em;
    display:block;
    width: 50vw;
    margin-left:auto;
    margin-right: auto;
    margin-top:1em;
}

.sidebar {
    background-color: #555555;
    min-width:5%;
    height: inherit;
    border-bottom-right-radius: 1vh;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 100vh;
}

.separator {
    border-bottom: solid;
    border-bottom-width: 0.2em;
    border-color: #329CB5;
    display:block;
    width: 25em;
    margin-left:auto;
    margin-right: auto;
}

.pres * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pres p {
    margin: 0.5;
}

#spokenlanguages {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#spokenlanguages img{
    width: 150px;
    height: 100px;
    margin: 1em;
}

#spoken_labels{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#spoken_paragraph{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: Secular One;
    font-size: 1.25em;
    width:50%;
}

#imgPres {
    display: block;
    width: 8em;
    clip-path: circle();
}

#nameTitle {
    display: block;
    font-family: Secular One;
    font-size: 2em;
}

#nameTitle > a {
    color:#337CB2;
}

#nameSub, .persoTitle, .titles {
    display: block;
    font-family: Secular One;
    font-size: 1.25em;
}

.titles {
    display: flex;
    width:50%;
    align-self: center;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1mm;
    border-color: #555555;
}

.proj {
    display: flex;
    margin-top: 2em;
    flex-wrap: nowrap;
}


.proj img {
    display: block;
    height: 150px;
    max-width: 200px;
    border-radius: 30px;
}

.proj p {
    font-size: 1.5em;
    text-align: center;
    display: block;
}

.proj div {
    flex: 0 0 auto;
    display: inline-block;
}

#projs {
    min-width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
figcaption {
    font-size: 1.5em;
    text-align: center;
}

li > img{
    max-width: 1em;
    max-height: 100%;
}

p > img{
    max-width: 0.8em;
    max-height: 100%;
}

.persoTitle{
    text-align: center;
    font-size: 25;
}

.endpage {
    padding-bottom: 1em;
}



.contact * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#menu .active{
    color:#329CB5;
}

#language {
    position:fixed;
    right: 1em; bottom: 0px;
    font-family: Secular One;
    font-weight: bold;
    font-size:1em;
}

#language a{
    color:#337CB2;
}
@media screen and (max-width : 715px) {
    #menu {
        flex-direction: column;
        flex-shrink: 1;
        height: 8em;
    }

    #menu>a {
        padding-bottom: 1vw;
        font-size: 15;
    }

    .text>p, .text li {
        font-size: 15;
    }

    #nameTitle, .persoTitle {
        display: block;
        font-family: Secular One;
        font-size: 25;
    }

    .persoTitle {
        display: block;
        font-family: Secular One;
        font-size: 1em;
    }

    .proj{
        flex-direction: column;
        align-items: center;
    }
    
    #main {
    display: flex;
    background-color: #D0D0D0;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    overflow: auto;
    align-items: stretch;
    border-left-width: 25px;
    border-left-style: solid;
    border-left-color:#555555;
    border-right-width: 25px;
    border-right-style: solid;
    border-right-color:#555555;
    border-bottom-width: 20px;
    border-bottom-style: solid;
    border-bottom-color:#555555;
    }
}



@media screen and (min-width:715px) {
    #menu {
        min-height: 5vw;
    }

    .proj {
        justify-content: space-around;
    }

}
